

.imagensIcones
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;      
}

img
{
    margin: 20px;
}

.s 
{
    font-size: 16px;
    color: white;
}


.isa{
    display: flex;
    max-width: 700px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.umdolado{
    margin: 20px;
}