h1
{
    color: white;
}

.p2
{
    align-items: center;
    margin: auto;
   
}

h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.p3
{
 width: 300px;
 height: 100px;
 padding-left: 100px;
 padding-top: 250px;
 border: 1px;
 

}

