@import url(selec.css);
@import url(chat.css);
@import url(ico.css);

body{
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    max-width: 500px;
    background: linear-gradient(to bottom right, #a1caf1, #6eb5ff);
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login{
    color: #1ABC9C;
    
}

.entrar{
    font-size: 10px;
    color: #1ABC9C;
    padding-left: 10px;
    padding-bottom: 10px;
}

input {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1ABC9C;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario{
    display: flex;
    flex-direction: column;
}

